.button-one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  padding-top: 5px;
  padding-bottom: 5px;

  @include font-name;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.76;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue-1;

  background-color: $yellow-1;
  border: none;
  border-radius: $radius-2;

  cursor: pointer;

  &:hover {
    background-color: $yellow-2;
  }

  &:focus,
  &:active {
    color: rgba($blue-1, 0.3);

    background-color: $yellow-2;
  }

  &--bgc {
    background-color: $grey-7;
  }

  &--bgc:hover {
    background-color: $grey-8;
  }

  &--bgc:focus,
  &--bgc:active {
    color: rgba($blue-1, 0.3);

    background-color: $grey-8;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .button-one {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
    line-height: 1.5;

    border-radius: $radius-3;
  }
}

@media (min-width: $desktop-width) {
  .button-one {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
    line-height: 1.5;

    border-radius: $radius-3;
  }
}
