.calendar {
  margin-bottom: 22px;

  @include font-name;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: $grey-5;

  border-collapse: collapse;
}

.calendar__item {
  width: 30px;
  height: 30px;
  padding: 0;

  text-align: center;
  vertical-align: middle;

  background-color: $grey-1;
  border: 1px solid $grey-6;

  &--checked {
    color: $grey-2;

    background-color: $blue-7;
  }

  &:hover {
    color: $grey-2;

    background-color: $blue-4;
    border: 2px solid $yellow-5;
    outline: 3px solid $yellow-5;

    cursor: pointer;
  }

  &--disabled {
    color: rgba($grey-5, 0.3);

    background-color: #ffffff;

    &:hover {
      color: rgba($grey-5, 0.3);

      background-color: #ffffff;
      border: 1px solid $grey-6;
      outline: none;

      cursor: default;
    }
  }
}

.calendar__item-text {
  display: none;
}

.calendar__days-of-week .calendar__item {
  background-color: transparent;
  border: none;

  &:hover {
    color: inherit;

    background-color: #ffffff;
    border: none;
    outline: none;

    cursor: default;
  }
}

.calendar__days-of-week .calendar__item--weekend {
  color: $yellow-5;

  &:hover {
    color: $yellow-5;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .calendar {
    margin-bottom: 46px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 2px;
  }

  .calendar__item {
    width: 75px;
    height: 70px;
  }

  .calendar__item-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .calendar {
    margin-bottom: 56px;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.8px;
  }

  .calendar__item {
    width: 141px;
    height: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    text-align: left;
    vertical-align: top;
  }

  .calendar__item-text {
    display: none;
  }
}
