.continent-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  &--hide {
    display: none;
  }
}

.continent-list__item {
  @include font-name;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  text-transform: uppercase;
}

.continent-list__link {
  text-decoration: none;
  color: rgba($blue-2, 0.3);

  &--checked {
    color: $blue-2;
  }

  &:hover {
    color: rgba($blue-2, 0.6);
  }

  &:focus,
  &:active {
    color: $blue-2;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .continent-list {
    flex-direction: row;
  }

  .continent-list__item {
    margin-right: 25px;
    font-size: 20px;
    line-height: 1.2;

    &:last-child {
      margin-right: 0;
    }
  }

  .filter-country__title {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .continent-list {
    flex-direction: row;
  }

  .continent-list__item {
    margin-right: 25px;
    font-size: 20px;
    line-height: 1.2;

    &:last-child {
      margin-right: 0;
    }
  }
}
