.contacts {
  @include font-name;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  text-transform: uppercase;
  color: $blue-1;

  list-style: none;
}

.contacts__button {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 60px;

  font: inherit;
  text-decoration: none;
  color: inherit;

  fill: $yellow-1;

  //круглый фон
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;

    background-color: $blue-3;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &--color-yellow {
    color: $yellow-1;

    &:hover {
      color: $yellow-2;

      fill: $yellow-2;
    }

    &:focus,
    &:active {
      color: rgba($yellow-2, 0.3);

      fill: rgba($yellow-2, 0.3);
    }
  }
}

.contacts__button-icon {
  position: absolute;

  &--phone {
    top: 14px;
    left: 14px;

    width: 18px;
    height: 18px;
  }

  &--email {
    top: 15px;
    left: 14px;

    width: 18px;
    height: 13px;
  }

  &--address {
    top: 20px;
    left: 16px;

    width: 14px;
    height: 22px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .contacts {
    font-size: 28px;
    line-height: 1;
  }

  .contacts__button {
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 91px;

    &::before {
      width: 67px;
      height: 67px;
    }
  }

  .contacts__button-icon {
    &--phone {
      top: 21px;
      left: 21px;

      width: 27px;
      height: 27px;
    }

    &--email {
      top: 25px;
      left: 20px;

      width: 27px;
      height: 19px;
    }

    &--address {
      top: 20px;
      left: 23px;

      width: 21px;
      height: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    font-size: 28px;
    line-height: 1;
  }

  .contacts__button {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 112px;

    &::before {
      width: 90px;
      height: 90px;
    }

    &--margin {
      margin-right: 112px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .contacts__button-icon {
    &--phone {
      top: 26px;
      left: 28px;

      width: 36px;
      height: 36px;
    }

    &--email {
      top: 31px;
      left: 28px;

      width: 36px;
      height: 26px;
    }

    &--address {
      top: 21px;
      left: 31px;

      width: 28px;
      height: 43px;
    }
  }
}

