.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;

  @include font-name;
  line-height: 1;
}

.copyright__text {
  margin: 0;
  margin-right: auto;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: $grey-5;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;

  fill: $blue-2;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  fill: $blue-2;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .copyright {
    width: 154px;
  }

  .copyright__text {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 154px;
  }

  .copyright__text {
    font-size: 20px;
    line-height: 1.2;
  }
}
