$padding-top-mobile: 130px;
$padding-bottom-mobile: 30px;
$padding-top-tablet: 130px;
$padding-bottom-tablet: 80px;
$padding-top-desktop: 220px;
$padding-bottom-desktop: 140px;

.countries {
  @include font-name;

  background-color: $grey-1;
  border-bottom-right-radius: $radius-4;
  border-bottom-left-radius: $radius-4;
}

.countries__inner {
  align-items: flex-start;
  padding-top: $padding-top-mobile;
  padding-bottom: $padding-bottom-mobile;
}

.countries__title {
  margin-bottom: 25px;
  margin-left: 25px;
}

.countries__text {
  width: 200px;
  margin: 0;
  margin-bottom: 65px;
  margin-left: 25px;

  color: $grey-5;
}

.countries__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .countries {
    border-bottom-right-radius: $radius-5;
    border-bottom-left-radius: $radius-5;
  }

  .countries__inner {
    position: relative;

    align-items: flex-start;
    padding-top: $padding-top-tablet;
    padding-bottom: $padding-bottom-tablet;

    &::before {
      content: "";

      position: absolute;
      top: $padding-top-tablet;
      right: 0;

      width: 289px;
      height: 575px;

      background-image: url("../../img/flags-back@1x.png");
      border-radius: $radius-2;
    }
  }

  .countries__title {
    margin-bottom: 50px;
    margin-left: 36px;
  }

  .countries__text {
    width: 345px;
    margin-bottom: 115px;
    margin-left: 36px;
  }

  .countries__list {
    position: relative;

    margin-bottom: 50px;
    margin-left: 36px;

    &::before {
      content: "";

      position: absolute;
      top: -39px;
      left: -$tablet-padding;

      width: 141px;
      height: 141px;

      background-color: $grey-4;
      border-radius: $radius-2;
    }
  }

  .countries__button {
    width: 616px;
    margin-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .countries {
    border-bottom-right-radius: $radius-5;
    border-bottom-left-radius: $radius-5;
  }

  .countries__inner {
    position: relative;

    padding-top: $padding-top-desktop;
    padding-bottom: $padding-bottom-desktop;

    &::before {
      content: "";

      position: absolute;
      z-index: -1;
      top: 148px;
      right: $desktop-padding;

      width: 289px;
      height: 575px;

      background-image: url("../../img/flags-back@1x.png");
      border-radius: $radius-2;
    }
  }

  .countries__title {
    margin-bottom: 55px;
    margin-left: 804px;

    font-size: 45px;
  }

  .countries__text {
    width: 525px;
    margin-bottom: 100px;
    margin-left: 804px;
    padding-right: 180px;
  }

  .countries__list {
    position: absolute;
    left: 130px;

    &::before {
      content: "";

      position: absolute;
      top: -39px;
      left: -$tablet-padding;

      width: 141px;
      height: 141px;

      background-color: $grey-4;
      border-radius: $radius-2;
    }
  }

  .countries__button {
    margin-left: 804px;
  }
}
