.country-flags {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.country-flags__item {
  width: 35px;
  height: 24px;
  margin-right: 18px;

  @include font-name;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: $blue-4;

  background-repeat: no-repeat;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 35px 24px;

  &:last-child {
    margin-right: 0;
  }

  &--shri-lanka {
    background-image: url("../../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../../img/flag-belgium.svg");
  }

  &--czech {
    background-image: url("../../img/flag-czech.svg");
  }

  &--usa {
    background-image: url("../../img/flag-usa.svg");
  }

  &--australia {
    background-image: url("../../img/flag-australia.svg");
  }

  &--dominican {
    background-image: url("../../img/flag-dominica.svg");
  }

  &--uk {
    background-image: url("../../img/flag-united-kingdom.svg");
  }

  &--germany {
    background-image: url("../../img/flag-germany.png");
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .country-flags__item {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .country-flags__item {
    margin-bottom: 18px;

    font-size: 20px;
  }
}
