.countries-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 270px;
  margin-bottom: 10px;
  padding-bottom: 24px;

  @include font-name;

  background-color: #ffffff;
  border-radius: $radius-1;

  &:last-of-type {
    background-color: transparent;
    background-image: linear-gradient(#ffffff 80%, $grey-1);
  }
}

.countries-item__title-wrapper {
  z-index: 1;

  margin-top: 100px;
  padding-top: 25px;

  border-top-left-radius: $radius-1;
  border-top-right-radius: $radius-1;
}

.countries-item__title {
  position: relative;

  margin: 0;
  margin-top: -20px;
  padding-top: 25px;
  padding-right: 85px;
  padding-left: 25px;

  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: $blue-1;

  &::before {
    content: "";

    position: absolute;
    top: -17px;
    left: 25px;

    width: 35px;
    height: 24px;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--thailand::before {
    background-image: url("../../img/flag-thailand.svg");
  }

  &--france::before {
    background-image: url("../../img/flag-france.svg");
  }

  &--czech::before {
    background-image: url("../../img/flag-czech.svg");
  }
}

.countries-item__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 270px;
  height: 110px;

  border-top-right-radius: $radius-1;
  border-top-left-radius: $radius-1;
}

.countries-item__text {
  margin: 0;
  margin-left: 25px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba($grey-5, 0.3);

  opacity: 0.3;
}

.countries-item__user-amount {
  position: absolute;
  z-index: 2;
  top: 135px;
  right: 23px;

  margin: 0;
  margin-left: 25px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgba($grey-5, 0.3);

  &::before {
    content: "";

    position: absolute;
    top: 2px;
    left: -16px;

    width: 11px;
    height: 11px;

    background-image: url("../../img/user.svg");
    background-repeat: no-repeat;

    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .countries-item {
    position: relative;

    display: block;
    width: 616px;
    min-height: 140px;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 14px;
    padding-left: 30px;

    border-radius: $radius-2;

    &:last-of-type {
      background-color: #ffffff;
      background-image: none;
    }
  }

  .countries-item__title-wrapper {
    z-index: 0;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border-radius: 0;
  }

  .countries-item__title {
    z-index: 1;
    margin: 0;
    padding: 0;

    font-size: 24px;

    &::before {
      top: -15px;
      left: 368px;

      width: 70px;
      height: 47px;
    }
  }

  .countries-item__image {
    top: 0;
    right: 0;
    left: auto;

    width: 186px;
    height: 140px;

    border-radius: 0;
    border-top-right-radius: $radius-2;
    border-bottom-right-radius: $radius-2;
  }

  .countries-item__image-picture {
    width: 186px;
    height: 140px;
  }

  .countries-item__text {
    margin: 0;
    margin-bottom: 25px;

    font-size: 20px;
  }

  .countries-item__user-amount {
    position: relative;
    top: auto;
    right: auto;

    margin: 0;
    padding-left: 31px;

    font-size: 20px;

    &::before {
      content: "";

      position: absolute;
      top: -3px;
      left: 0;

      width: 21px;
      height: 20px;

      background-image: url("../../img/user.svg");
      background-repeat: no-repeat;

      opacity: 0.1;
    }
  }
}

@media (min-width: $desktop-width) {
  .countries-item {
    position: relative;

    display: block;
    width: 560px;
    min-height: 140px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 30px;

    border-radius: $radius-2;

    &:last-of-type::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(transparent 50%, $grey-1);
    }
  }

  .countries-item__title-wrapper {
    z-index: 0;

    margin: 0;
    padding: 0;

    background-color: transparent;
    border-radius: 0;
  }

  .countries-item__title {
    z-index: 1;
    margin: 0;
    padding: 0;

    font-size: 24px;

    &::before {
      top: 0;
      left: 308px;

      width: 70px;
      height: 47px;
    }
  }

  .countries-item__image {
    top: 0;
    right: 0;
    left: auto;

    width: 186px;
    height: 140px;

    border-radius: 0;
    border-top-right-radius: $radius-2;
    border-bottom-right-radius: $radius-2;
  }

  .countries-item__text {
    margin: 0;
    margin-bottom: 25px;

    font-size: 20px;
  }

  .countries-item__user-amount {
    position: relative;
    top: auto;
    right: auto;

    margin: 0;
    padding-left: 31px;

    font-size: 20px;

    &::before {
      content: "";

      position: absolute;
      top: -3px;
      left: 0;

      width: 21px;
      height: 20px;

      background-image: url("../../img/user.svg");
      background-repeat: no-repeat;

      opacity: 0.1;
    }
  }
}
