.find-travelmate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;

  background-color: $yellow-1;
  border-radius: $radius-2;
}

.find-travelmate__title {
  margin-bottom: 21px;

  @include font-name;
  font-size: 22.5px;
  font-weight: 700;
  line-height: 1;
  color: $blue-4;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .find-travelmate {
    width: 688px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 37px;
    padding-right: 35px;
    padding-bottom: 38px;
    padding-left: 35px;
  }

  .find-travelmate__title {
    margin-bottom: 37px;

    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .find-travelmate {
    width: 283px;
    margin: 0;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
  }

  .find-travelmate__title {
    margin: 0;
    margin-bottom: 30px;

    font-size: 30px;
  }
}
