.form-main__title-wrapper {
  position: relative;
  z-index: 1;

  background-color: $blue-1;
  border-bottom-right-radius: $radius-2;
  border-bottom-left-radius: $radius-2;
}

.form-main__title-inner {
  align-items: flex-start;
  min-height: 70px;
  padding-top: 27px;
}

.form-main__user-plans {
  margin-top: -$radius-4;
}

.form-main__add-plan {
  margin-top: -$radius-4;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .form-main__title-wrapper {
    border-bottom-right-radius: $radius-5;
    border-bottom-left-radius: $radius-5;
  }

  .form-main__title-inner {
    padding-top: 94px;
    padding-right: 70px;
    padding-left: 70px;
  }

  .form-main__user-plans {
    margin-top: -$radius-4;
  }

  .form-main__add-plan {
    margin-top: -$radius-4;
  }
}

@media (min-width: $desktop-width) {
  .form-main__title-wrapper {
    border-bottom-right-radius: $radius-5;
    border-bottom-left-radius: $radius-5;
  }

  .form-main__title-inner {
    min-height: 243px;
    padding-top: 118px;
    padding-right: 124px;
    padding-left: 124px;
  }

  .form-main__user-plans {
    margin-top: -$radius-5;
  }

  .form-main__add-plan {
    margin-top: -$radius-5;
  }
}
