.header {
  background-color: $blue-1;
}

.header__inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 73px;

  &--hide {
    display: none;
  }
}

.header__toggle {
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.header__toggle-icon {
  fill: #ffffff;
}

.header__login-button {
  display: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .header {
    &--color {
      background-color: $blue-2;
    }
  }

  .header__inner {
    min-height: 132px;
  }

  .header__toggle-icon {
    fill: #ffffff;
  }

  .header__login-button {
    display: flex;
    width: 188px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 47px;
  }

  .header__inner {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__toggle {
    display: none;
  }

  .header__login-button {
    display: none;
  }
}

