.menu {
  position: relative;
  top: 0;

  padding-top: 27px;
  padding-bottom: 40px;
  background-color: #ffffff;

  &--no-js {
    .menu__close-button {
      display: none;
    }
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.menu__inner {
  position: relative;
}

.menu__logo {
  align-self: flex-start;
  margin-bottom: 79px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 58px;
  padding: 0;

  @include font-name;
  font-weight: 500;
  text-transform: uppercase;
  color: $blue-2;

  list-style: none;
}

.menu__link {
  position: relative;

  display: inline-block;

  font-size: 30px;
  line-height: 1;
  text-decoration: none;
  color: inherit;
}

.menu__login-button {
  width: 100%;
  margin-bottom: 51px;
  padding-top: 10px;
  padding-bottom: 10px;

  cursor: pointer;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 42px;
}

.menu__close-button {
  position: absolute;
  top: 0;
  right: 25px;

  width: 19px;
  height: 19px;

  background-color: transparent;
  background-image: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;

  cursor: pointer;
}

@media (max-width: $mobile-width-only) {
  .menu__login-button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .menu {
    padding-top: 40px;
    padding-bottom: 84px;
  }

  .menu__inner {
    align-items: flex-start;
  }

  .menu__logo {
    margin-bottom: 105px;
  }

  .menu__list {
    align-items: flex-start;
    margin-bottom: 150px;
    margin-left: 59px;
  }

  .menu__link {
    font-size: 60px;
    line-height: 1.18;
  }

  .menu__login-button {
    position: absolute;
    top: 0;
    right: 40px;

    width: 188px;
    margin: 0;
  }

  .menu__contacts {
    margin-bottom: 123px;
    margin-left: 59px;
  }

  .menu__socials {
    margin-left: 59px;
  }

  .menu__close-button {
    top: 15px;
    right: auto;
    left: 365px;

    width: 19px;
    height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0;

    background-color: $blue-1;
  }

  .menu__inner {
    flex-direction: row;
    align-items: center;
  }

  .menu__logo {
    position: relative;

    margin: 0;
    margin-right: 145px;

    &::before {
      content: "";

      position: absolute;
      top: 21px;
      right: -95px;

      width: 60px;
      height: 2px;

      background-color: #ffffff;
    }
  }

  .menu__list {
    flex-direction: row;
    align-items: flex-start;
    margin: 0;

    font-size: 20px;
    line-height: 1;
    color: #ffffff;
  }

  .menu__item {
    overflow: hidden;

    margin-right: 36px;
  }

  .menu__link {
    font-size: 20px;
    line-height: 1;

    transition: transform 0.3s;

    &::before {
      content: attr(data-hover);

      position: absolute;
      top: 100%;

      line-height: 1;
      font-weight: 500;
    }

    &:hover {
      color: $yellow-1;

      cursor: pointer;

      transform: translateY(-100%);
    }

    &:focus,
    &:active {
      color: rgba($yellow-1, 0.3);
    }
  }

  .menu__socials {
    display: none;
  }

  .menu__login-button {
    display: none;
  }

  .menu__contacts {
    display: none;
  }

  .menu__close-button {
    display: none;
  }
}
