.transport {
  display: flex;
  flex-direction: row;
}

.transport__icon {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;

  background-color: #ffffff;
  border-radius: 50%;
  fill: rgba(#000000, 0.15);

  &--active {
    fill: $blue-4;
  }

  &--button {
    cursor: pointer;

    &:hover {
      fill: rgba(#000000, 0.3);
    }

    &:focus,
    &:active {
      background-color: $grey-4;
      fill: rgba(#000000, 0.1);
    }
  }
}

.transport__checkbox:checked + .transport__icon--button {
  fill: $blue-4;

  &:hover {
    fill: rgba($blue-6, 0.7);
  }

  &:focus,
  &:active {
    background-color: $grey-4;
    fill: rgba($blue-6, 0.3);
  }
}

@media (max-width: $mobile-width-only) {
  .transport__icon {
    &--bgc {
      background-color: $grey-1;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .transport__icon {
    width: 43px;
    height: 43px;
    //margin-right: 13px;
  }

  .transport__icon-img {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--cycle {
      width: 24px;
      height: 21px;
    }

    &--foot {
      width: 20px;
      height: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .transport__icon {
    width: 43px;
    height: 43px;
  }

  .transport__icon-img {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--cycle {
      width: 24px;
      height: 21px;
    }

    &--foot {
      width: 20px;
      height: 21px;
    }
  }
}
