.travelmates-filtered {
  background-color: $grey-1;
}

.travelmates-filtered__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.travelmates-filtered__button {
  position: relative;

  width: 155px;
  margin: 0 auto;
  padding-left: 33px;

  background-color: transparent;

  &::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 18px;
    height: 18px;

    background-image: url("../../img/show-more-plus.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.6;

    background-color: transparent;
  }

  &:focus,
  &:active {
    opacity: 0.3;

    background-color: transparent;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .travelmates-filtered__pagination {
    margin-bottom: 62px;
  }

  .travelmates-filtered__button {
    width: 190px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 52px;

    &::before {
      top: 10px;
      left: 0;

      width: 27px;
      height: 27px;

      background-image: url("../../img/show-more-plus.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmates-filtered {
    width: 950px;
  }

  .travelmates-filtered__inner {
    display: block;
    padding: 0;
    width: 950px;
  }

  .travelmates-filtered__list {
    margin-bottom: 70px;
  }

  .travelmates-filtered__button {
    width: 190px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding-left: 52px;

    &::before {
      top: 10px;
      left: 0;

      width: 27px;
      height: 27px;

      background-image: url("../../img/show-more-plus.svg");
      background-repeat: no-repeat;
    }
  }

  .travelmates-filtered__pagination {
    margin-bottom: 77px;
  }
}
