.travelmate-form__fieldset {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0;

  @include font-name;
  font-weight: 700;

  border: none;
}

.travelmate-form__legend {
  width: 100%;
  padding-top: 13px;
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $blue-4;

  border-top: 1px solid #f3c72b;

  &:hover {
    color: rgba($blue-4, 0.6);
  }

  &:focus,
  &:active {
    color: rgba($blue-4, 0.3);
  }
}

.travelmate-form__label {
  position: relative;

  margin-bottom: 14px;
  padding-left: 25px;

  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: $grey-5;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: #ffffff;
    border-radius: 4px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.travelmate-form__label-wrapper {
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }
}

.travelmate-form__checkbox:checked + .travelmate-form__label {
  &::before {
    background-image: url("../../img/tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
  }
}

.travelmate-form__transport {
  margin-bottom: 19px;
}

.travelmate-form__label-range {
  position: relative;

  display: flex;
  width: 220px;
  height: 35px;
  margin-bottom: 24px;
  padding: 0;

  font-size: 15px;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1.5px;
  color: $blue-4;

  background-color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    left: 103px;
    top: 12px;

    width: 16px;
    height: 11px;

    background-color: #ffffff;
  }

  &::after {
    content: "";

    position: absolute;
    left: 102px;
    top: 16px;

    width: 16px;
    height: 1px;

    background-color: $grey-2;
  }
}

.travelmate-form__range-value {
  width: 111px;
  height: 35px;

  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5;
  color: $blue-4;
  text-align: center;

  border: solid 1px $grey-2;

  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  &:first-child {
    border-right: none;
  }

  &:hover {
    border-color: $grey-10;
  }

  &:hover:first-child + &:last-child {
    border-left-color: $grey-10;
  }

  &:focus,
  &:active {
    border-color: $blue-1;

    outline: none;
  }

  &:focus:first-child + &:last-child,
  &:active:first-child + &:last-child {
    border-left-color: $blue-1;
  }
}

.travelmate-form__custom-range {
  position: relative;
  display: block;
  width: 220px;
  height: 2px;
  margin-bottom: 26px;

  background-image: linear-gradient(to right, rgba($blue-4, 0.2) 76px, $blue-4 76px);
}

.travelmate-form__filter-slider {
  position: absolute;

  width: 10px;
  height: 10px;

  background-color: $blue-4;
  border-radius: 50%;

  &--one {
    top: -4px;
    left: 71px;
  }

  &--two {
    top: -4px;
    left: 210px;
  }

  &:hover {
    top: -9px;

    width: 19px;
    height: 19px;
  }

  &:focus,
  &:active {
    top: -9px;

    width: 19px;
    height: 19px;

    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }
}

.travelmate-form__close-button {
  position: absolute;
  top: 9px;
  right: 0;

  width: 8px;
  height: 4px;
  padding: 0;

  background-color: transparent;
  border: 0;

  fill: $blue-2;

  cursor: pointer;

  &--close {
    .travelmate-form__close-button-icon {
      transform: rotate(180deg);
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    outline: none;

    opacity: 0.3;
  }
}

.travelmate-form__button {
  width: 230px;

  background-color: #ffffff;

  &:hover {
    background-color: #ffffff;
  }

  &:focus,
  &:active {
    color: rgba($blue-4, 0.3);

    background-color: $yellow-7;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .travelmate-form {
    border-top: 1px solid #f3c72b;
    padding-top: 38px;
  }

  .travelmate-form__fieldset {
    position: relative;
    // баг fieldset в chrome: не работает flex
    display: block;
    padding-bottom: 34px;

    &:last-of-type {
      margin-bottom: 36px;

      border-bottom: 1px solid #f3c72b;
    }
  }

  .travelmate-form__legend {
    position: absolute;

    margin: 0;
    padding: 0;

    font-size: 20px;

    border: 0;

    &::after {
      content: ":";
    }
  }

  .travelmate-form__label {
    display: inline-block;
    width: 160px;
    margin: 0;
    padding-left: 35px;

    font-size: 20px;
    vertical-align: middle;

    &::before {
      top: -3px;
      width: 24px;
      height: 24px;
    }

    &:first-of-type {
      margin-left: 125px;
    }
  }

  .travelmate-form__label-wrapper {
    flex-direction: row;
  }

  .travelmate-form__checkbox:checked + .travelmate-form__label {
    &::before {
      background-size: 12px 12px;
    }
  }

  .travelmate-form__transport {
    margin-top: -10px;
    margin-bottom: 14px;
    margin-left: 125px;
  }

  .travelmate-form__label-range {
    display: flex;
    align-items: center;
    width: 150px;
    height: 46px;
    margin: 0;
    margin-top: -10px;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;

    &:first-of-type {
      margin-left: 467px;
    }

    &::before {
      content: "";

      position: absolute;
      left: 64px;
      top: 15px;

      width: 15px;
      height: 15px;

      background-color: #ffffff;
    }

    &::after {
      content: "";

      position: absolute;
      left: 64px;
      top: 20px;

      width: 21px;
      height: 1px;

      background-color: $grey-2;
    }
  }

  .travelmate-form__range-value {
    width: 75px;
    height: 46px;

    font-size: 20px;
    letter-spacing: 2;

    border: solid 1px $grey-2;

    &:first-child {
      border-right: none;
    }

    &:hover {
      border-color: $grey-10;
    }

    &:hover:first-child + &:last-child {
      border-left-color: $grey-10;
    }

    &:focus,
    &:active {
      border-color: $blue-1;
    }

    &:focus:first-child + &:last-child,
    &:active:first-child + &:last-child {
      border-left-color: $blue-1;
    }
  }

  .travelmate-form__custom-range {
    position: absolute;
    top: 10px;
    width: 277px;
    height: 3px;
    margin: 0;
    margin-left: 125px;

    background-image: linear-gradient(to right, rgba($blue-4, 0.2) 76px, $blue-4 76px);
  }

  .travelmate-form__filter-slider {
    width: 13px;
    height: 13px;

    &--one {
      top: -4px;
      left: 70px;
    }

    &--two {
      top: -4px;
      left: 264px;
    }
  }

  .travelmate-form__close-button {
    display: none;
  }

  .travelmate-form__button {
    width: 618px;
  }
}

@media (min-width: $desktop-width) {
  .travelmate-form__fieldset {
    flex-direction: column;
  }

  .travelmate-form__legend {
    margin-bottom: 28px;
    padding: 0;

    font-size: 20px;

    border: 0;
  }

  .travelmate-form__label {
    margin-bottom: 20px;
    padding-left: 35px;

    font-size: 20px;

    &::before {
      top: -4px;

      width: 24px;
      height: 24px;
    }
  }

  .travelmate-form__checkbox:checked + .travelmate-form__label {
    &::before {
      background-size: 12px 12px;
    }
  }

  .travelmate-form__transport {
    margin-bottom: 36px;
  }

  .travelmate-form__label-range {
    width: 191px;
    height: 46px;
    margin-bottom: 36px;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;

    &::before {
      content: "";

      position: absolute;
      left: 86px;
      top: 15px;

      width: 15px;
      height: 15px;

      background-color: #ffffff;
    }

    &::after {
      content: "";

      position: absolute;
      left: 86px;
      top: 20px;

      width: 21px;
      height: 1px;

      background-color: $grey-2;
    }
  }

  .travelmate-form__range-value {
    width: 96px;
    height: 46px;

    font-size: 20px;
    letter-spacing: 2;

    border: solid 1px $grey-2;

    &:first-child {
      border-right: none;
    }

    &:hover {
      border-color: $grey-10;
    }

    &:hover:first-child + &:last-child {
      border-left-color: $grey-10;
    }

    &:focus,
    &:active {
      border-color: $blue-1;
    }

    &:focus:first-child + &:last-child,
    &:active:first-child + &:last-child {
      border-left-color: $blue-1;
    }
  }

  .travelmate-form__custom-range {
    width: 191px;
    height: 3px;
    margin-bottom: 43px;

    background-image: linear-gradient(to right, rgba($blue-4, 0.2) 66px, $blue-4 66px);
  }

  .travelmate-form__filter-slider {
    width: 13px;
    height: 13px;

    &--one {
      top: -4px;
      left: 60px;
    }

    &--two {
      top: -4px;
      left: 178px;
    }
  }

  .travelmate-form__close-button {
    top: 0;
    right: 0;

    width: 10px;
    height: 5px;
  }

  .travelmate-form__close-button-icon {
    width: 10px;
    height: 5px;
  }

  .travelmate-form__button {
    width: 196px;
  }
}
